@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

ul {
  list-style: none;
}

a:hover {
  cursor: pointer;
  color: #ff5722;
}

:root {
  --sectionSideMargin: 0;
  --sectionVerticalMargin: 1em;
  --specialSideMargin: 10em;
  --verticalMargin: 70px;
}

.hideMe {
  visibility: hidden;
}

#wrapper {
  font-size: 1.25rem;
  background: #eeeeee;
  color: #222831;
  min-height: 100vh;
  min-width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#intro {
  margin: var(--verticalMargin) 5em;
}

.greeting {
  padding: var(--sectionVerticalMargin) var(--sectionSideMargin);
}

.title {
  text-shadow: 0px 6px 15px rgba(150, 150, 150, 0.5);
}

.greeting > p {
  padding-top: 1em;
}

#skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 1em;
  font-size: 1.15rem;
}

.skill {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.skill > ul {
  padding-top: .5em;
  font-weight: 300;
}

#contact {
  padding-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contact > ul > li {
  margin-bottom: 1em;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #ff5722;
}

.picSmall {
  width: 5em;
  -webkit-clip-path: circle(2em at center);
          clip-path: circle(2em at center);
  -webkit-box-shadow: 0px 6px 25px 0px rgba(53, 62, 71, 0.6);
          box-shadow: 0px 6px 25px 0px rgba(53, 62, 71, 0.6);
}

.circle {
  width: 90px;
  background-color: #eed;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(53, 62, 71, 0.6);
          box-shadow: 0px 0px 15px 0px rgba(53, 62, 71, 0.6);
  border-radius: 100px;
}

#projects {
  margin: var(--verticalMargin) 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.halfImage {
  min-width: 128px;
  max-width: 512px;
  -webkit-box-shadow: 0px 6px 25px 0px rgba(53, 62, 71, 0.6);
          box-shadow: 0px 6px 25px 0px rgba(53, 62, 71, 0.6);
}

.projImg {
  width: 100%;
  min-height: 100%;
}

.halfDescription {
  padding: 1em;
}

.description > p {
  padding-top: .5em;
}

.reponsabilities {
  padding-top: 1em;
  font-size: 1rem;
}

.reponsabilities > ul {
  padding-top: .5em;
}

@media only screen and (max-width: 1024px) {
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #intro {
    margin: 10px 3em;
  }
  .greeting {
    padding: var(--sectionVerticalMargin) var(--sectionSideMargin);
  }
  #projects {
    margin: 10px 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 768px) {
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects {
    margin: 10px 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (max-width: 425px) {
  #wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects {
    margin: 10px 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .inline {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */